
<html><head><meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<center>
	<hr><br>
		   <div class="card" style="padding:10px; background-color:#81BEF7; width:70%; margin-top:10px ">
		  <img class="card-img-top" src="{{imgpath}}" alt="Card image" style="width:100px; height:100px; margin:10px" >

            	<br>
		  <div class="card-body">
		  	<h2 class="card-title" style="color:white;">
		  		
		    Patient Details</h2>
		   
		   <p class="card-text">
		   <p>name ={{pname}}<br>age ={{page}}
		   <br>sex ={{psex}}<br>address ={{paddr}}<br>Phone ={{pphn}} <br>Date ={{pdate}} <br>Ward ={{pward}}
		   
		</p>
	</div>
</div>
		
{% if session['prof']!='manager' %}
		{% if session['prof']!='lab' %}
<hr><p><h2>Diagnosis</h2>
		{% if pdiag is defined %}
			<dl>
				<dt>id</dt>
				<dd>
			{{pid}}</dd>
			<dt>Diagnosis</dt>
			<dd>{{pdiag}}
		</dd>
		<dt>date</dt><dd>
			{{pdiadate}}
		</dd>
	</dl>
{% else %}
		not yet diagonised
	{% endif %}	
	{% endif %}
	{% endif %}

	{% if session['prof']!='lab' %}
<hr><p><h2>Room number</h2>
		
		{% if room_res[0] is defined %}
	Room no:{{room_res[0][1]}}{{room_res[0][2]}}
			{% elif session['prof']=='manager' %}
<div class="container" style="margin:40px;size:10px">
			<div class="row" style="background-color:#81BEF7"> 
			{% for i in a %}
			{% if i is not none %}
				<div class="col">
	<form action="\room_alloc" method="post">
				
				<input type="hidden" name="sname" value="{{sname}}"/>
				<input type="hidden" name="spass" value="{{spass}}"/>
				<input type="hidden" name="block" value="{{i[0]}}"/>
				<input type="hidden" name="room" value="{{i[1:]}}"/>
				<input type="hidden" name="id" value="{{pid}}"/>
				<input type="hidden" name="pname" value="{{pname}}"/>
				<input type="hidden" name="ppass" value="{{ppas}}"/>
				<div class="form-group"><input type="submit" name="submit" value="{{i}}" class="btn btn-primary"/>
				</div>
			</form>
	</div>
	{% endif %}
	{% endfor %}</div>
	<br><div class="row" style="background-color:#81BEF7">
	{% for i in b %}
	{% if i is not none %}
<div class="col">
	<form action="\room_alloc" method="post">
				
				<input type="hidden" name="sname" value="{{sname}}"/>
				<input type="hidden" name="spass" value="{{spass}}"/>
				<input type="hidden" name="block" value="{{i[0]}}"/>
				<input type="hidden" name="room" value="{{i[1:]}}"/>
				<input type="hidden" name="id" value="{{pid}}"/>
				
				<input type="hidden" name="pname" value="{{pname}}"/>
				<input type="hidden" name="ppass" value="{{ppas}}"/>
				<div class="form-group"><input type="submit" name="submit" value="{{i}}" class="btn btn-primary"/>
				</div>
			</form>
	</div>
	{% endif %}
	
	{% endfor %}</div>
	<br><div class="row" style="background-color:#81BEF7">
	{% for i in c %}
	{% if i is not none %}
<div class="col">
	<form action="\room_alloc" method="post">
				
				<input type="hidden" name="sname" value="{{sname}}"/>
				<input type="hidden" name="spass" value="{{spass}}"/>
				<input type="hidden" name="block" value="{{i[0]}}"/>
				<input type="hidden" name="room" value="{{i[1:]}}"/>
				<input type="hidden" name="id" value="{{pid}}"/>

				<input type="hidden" name="pname" value="{{pname}}"/>
				<input type="hidden" name="ppass" value="{{ppas}}"/>
				<div class="form-group"><input type="submit" name="submit" value="{{i}}" class="btn btn-primary"/>
				</div>
			</form>
	</div>
	{% endif %}
	
	{% endfor %}</div><br><div class="row" style="background-color:#81BEF7">
	{% for i in d %}
{% if i is not none %}
<div class="col">
	<form action="\room_alloc" method="post">
				
				<input type="hidden" name="sname" value="{{sname}}"/>
				<input type="hidden" name="spass" value="{{spass}}"/>
				<input type="hidden" name="block" value="{{i[0]}}"/>
				<input type="hidden" name="room" value="{{i[1:]}}"/>
				<input type="hidden" name="id" value="{{pid}}"/>

				<input type="hidden" name="pname" value="{{pname}}"/>
				<input type="hidden" name="ppass" value="{{ppas}}"/>
				<div class="form-group"><input type="submit" name="submit" value="{{i}}" class="btn btn-primary"/>
				</div>
			</form>
	</div>
	{% endif %}
	
	{% endfor %}</div></div>
			{% else %}
			not allocated yet
			{% endif %}
			{% endif %}

{% if session['prof']!='manager' %}
		     <hr><p><h2>Lab Tests</h2><br>
			
			
		    
		


		{% if lab_res is defined %}
		
		
			
<div class="table"><table><tr><th>Specimen</th><th>Test name</th><th>Result</th><th>Ref range</th><th>date</th>
	{% for i in lab_res %}
			<tr><td>{{i[1]}}</td><td>{{i[2]}}</td><td>{{i[3]}}</td><td>{{i[4]}}</td><td>{{i[5]}}</td></tr>
		
		{% endfor %}
		</table></div>

		{% else %}
		no lab test yet
	

		  {% endif %} 
		    <br><br>
<hr>

<hr><p><h2>Surgeries</h2><br>
			
			
		    
		


		{% if op_result is defined %}
		
		
			
<div class="table"><table><tr><th>Surgery no</th><th>name</th><th>date</th>
	{% for i in op_result %}
			<tr><td>{{i[0]}}</td><td>{{i[3]}}</td><td>{{i[4]}}</td></tr>
		
		{% endfor %}
		</table></div>

		{% else %}
		no surgeries yet
	

		  {% endif %} 
		    <br><br>
<hr>



{% endif %}



{% if (session['prof']!='lab') and (session['prof']!='manager') %}
	
<h3>New/Edit diagnosis</h3>
<form action="/new_diagnosis" method="post" enctype="multipart/form-data">

<div class="form-group" >
	<label>Date:</label><input type="text" name="date"/><br></div>
	<div class="form-group">
	<label>Diagnosis:</label><input type="text" name="dia"/><br></div>
	<div class="form-group"><input type="hidden" name="id" value="{{pid}}"/></div>
		<input type="hidden" name="sname" value="{{sname}}"/>
				<input type="hidden" name="spass" value="{{spass}}"/>
	<div class="form-group"><input type="submit" name="submit" value="Update" class="btn btn-primary"/></div>
</form>

<br><hr><br>
<h3>New Surgery or operation</h3>
<form action="/new_surgery" method="post" enctype="multipart/form-data">

<div class="form-group" >
	<label>Date:</label><input type="text" name="date"/><br></div>
	<div class="form-group">
	<label>Name:</label><input type="text" name="name"/><br></div>
	<div class="form-group">
	<label>Total cost:</label><input type="text" name="cost"/><br></div>
	<div class="form-group"><input type="hidden" name="id" value="{{pid}}"/></div>
	<input type="hidden" name="sname" value="{{sname}}"/>
				<input type="hidden" name="spass" value="{{spass}}"/>
	<div class="form-group"><input type="hidden" name="sid" value="{{sid}}"/></div>
	<div class="form-group"><input type="submit" name="submit" value="Update" class="btn btn-primary"/></div>
</form>
{% endif %}


{% if(session['prof']=='lab') %}
<hr>
	<h3>Insert new lab test</h3>
	<form action="/new_test" method="post" enctype="multipart/form-data">
		
		<div class="form-group">
		<label>Specimen:</label><input type="text" name="spec"/><br></div>
		<div class="form-group"><label>Test name:</label><input type="text" name="test"/><br></div>
		<div class="form-group"><label>Results:</label><input type="text" name="res"/><br></div>
		<div class="form-group"><label>Ref range:</label><input type="text" name="ref"/><br></div>
		<div class="form-group"><label>Date:</label><input type="text" name="date"/><br></div>
		<div class="form-group"><input type="hidden" name="id" value="{{pid}}" /></div>
			<input type="hidden" name="sname" value="{{sname}}"/>
				<input type="hidden" name="spass" value="{{spass}}"/>
		<div class="form-group"><input type="submit" name="submit" value="Insert" class="btn btn-primary"/></div>
	</form>
{% endif %}	

{% if(session['prof']=='manager') %}
<hr>
<form action="/invoice" method="post">
		<input type="hidden" name="sname" value="{{sname}}"/>
				<input type="hidden" name="spass" value="{{spass}}"/>
	<input type="hidden" name="pid" value="{{pid}}"/>
	<input type="submit" name="submit" value="Generate/Regenerate invoice" class="btn btn-primary"/>
</form>
<div class="table"><table><tr><th>Type</th><th>name</th><th>price</th><th>date</th>
	{% for i in inv_result %}
			<tr><td>{{i[1]}}</td><td>{{i[2]}}</td><td>{{i[3]}}</td><td>{{i[4]}}</td></tr>
		
		{% endfor %}
		</table></div>

		
	

{% endif %}
<hr>
<form action="/Stafflogin" method='POST'>
	<input type="hidden" name="name" value="{{sname}}"/>
	<input type="hidden" name="password" value="{{spass}}">
	<input type="submit" name="submit" value="Back" class="btn btn-primary"/>
</form>
	<br><hr>
</center>
	</body></html>